.ps-3{
    margin-left: 0px;
    padding-top: 5px;
    /* justify-content: left;
    align-items: start; */
    color: white;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}
.ps-5{
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.ps-4{
    padding-left: 0px;
    /* margin-top: 20px;  */
    padding-top: 0px;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    background-color:#E5DCE7;
    justify-content: center;
    align-items: center;
}

.border-right-table{
    border-right: 1px solid rgb(0, 0, 0);
    border-right-width: 1px ;
}
.rowClassName1 {
    background-color: cadetblue;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    
  }
.tableOfHour .ant-table-thead > tr > th:first-child,
.tableOfHour .ant-table-thead > tr:last-child > th:not(:first-child) {
  background-color: #E5DCE7;
  width: 150vh;
  text-align: center;

}
.ant-table-tbody > tr > td {
    background-color:#E5DCE7;
  }

.ps-6{
    margin-top: 10px;
    background-color: #E5DCE7;
    color: #3562A7;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;

    height: 150px;
    width: 100%;
    font-weight: bold;
    
}
.ps-7{
    display: flex;
    flex-direction: row;
    
}
.left-temparature{
    position: absolute;
    left: 100px;
    width: 300px;
    
    padding-left: 10px;

}
.right-airhumidity{
    position: absolute;
    right: 0px;
    width: 300px;
    
    padding: 10px;
}
.solid-humidity{
    position: absolute;
    left: 100px;
    width: 300px;
    margin-top: 50px;
    padding-left: 10px;
}
.lightintensity{
    position: absolute;
    right: 0px;
    width: 300px;
    padding-top: 50px;
    padding: 10px;
    margin-top: 50px;
}
